.button {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 6.25rem;
  color: #333333;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  overflow: hidden;
  padding: 0.9rem 1.5rem;
  position: relative;
  width: 200px;
  text-decoration: none;
}

.button--stroke::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #333333;
  border-radius: 6.25rem;
  pointer-events: none;
}

.button__label {
  position: relative;
  z-index: 2;
}

.button__flair {
  position: absolute;
  inset: 0;
  transform: scale(0);
  transform-origin: 0 0;
}

.button__flair::before {
  content: "";
  position: absolute;
  width: 170%;
  aspect-ratio: 1/1;
  background: #333333;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
